h1 {
  text-align: left;
  font-family: "Courier New", Courier, monospace;
}
body {
  padding: 100px;
}
h3 {
  font-weight: 300;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
